<div class="container forgot-form">
  <div class="card p-3" style="width: 50rem;">
    <div class="mb-2">
      <a routerLink="/login" class="stretched-link" style="position: relative;text-decoration: none;"><i class="bi bi-arrow-left-square-fill backIcon"></i></a>
    </div>
    <div class="card-body">
      <h5 class="card-title">Reset Password</h5>
      <div class="forgot-main">
        <div class="rightSection">
          <form [formGroup]="resetForm" (ngSubmit)="submit()">
            <div class="mb-3">
              <label for="userName" class="form-label">UserName</label>
              <input type="text" formControlName="userName" class="form-control" id="userName" placeholder="Enter username">
              <span class="text-danger" *ngIf="(myForm.userName.touched || submitted) && myForm.userName.errors?.required">
                UserName is required
             </span>
             <span class="text-danger" *ngIf="notFound">
              {{notFoundMessage}}
           </span>
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">New Password</label>
              <input type="password" formControlName="password" class="form-control" id="password" placeholder="Enter new password">
              <span class="text-danger"
              *ngIf="(myForm.password.touched || submitted) && myForm.password.errors?.required">
              Password is required
          </span>
            <span class="text-danger"
                *ngIf="myForm.password.touched && myForm.password.errors?.invalidPassword">
                Password should have minimum 8 characters, at least 1 uppercase letter, 1 lowercase
                letter and 1 number
            </span>
            </div>
            <div class="mb-3">
              <label for="confirmPassword" class="form-label">Confirm Password</label>
              <input type="password" formControlName="confirmPassword" class="form-control" id="confirmPassword" placeholder="Enter password">
              <span class="text-danger"
                  *ngIf="(myForm.confirmPassword.touched || submitted ) && myForm.confirmPassword.errors?.required">
                  Confirm Password is required
              </span>
              <span class="text-danger"
                  *ngIf="myForm.confirmPassword.touched && myForm.confirmPassword.errors?.MatchPassword">
                  Passwords does not match
              </span>
            </div>
            <div class="mb-3">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>
        </div>
        <div class="leftSection">
          <img class="forgotImage" src="../../assets/forgotPassword.png"/>
        </div>
      </div>
    </div>
  </div>
</div>

<app-toast *ngIf="enableToast" [toastMessage]="toastMessage" (enableToast)="closeToast($event)"></app-toast>