.forgot-form{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.forgot-main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.rightSection{
    width: 55%;
}

.leftSection{
    width: 45%;
}

.forgotImage{
    width: 350px;
}

.backIcon{
    font-size: 30px;
    color: #0d6efd;
    cursor: pointer;
}